<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css\mystyle.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Restaurant</title>
</head>
<body onload="sessionfun()">
	
	<video autoplay loop muted class="background-video">
		<source src="media\videos\pexels-george-morina-5821366.mp4" type="video/mp4">
	</video>
	<div id="head-container">
		<nav>
			<a href="index"><img src="media\logos\logo1.jpeg" class="webpage-logo"></a>

			
			<ul>
				<li><a class="manu-item" href="index">Home</a></li>
				<li><a  class="manu-item" href="foodmenu">Food Menu</a></li>
				<li><a  class="manu-item" href="order">Order</a></li>
				<li><a  class="manu-item" href="about">About Us</a></li>
				<li id="sessionLI"></li>
			</ul>

		</nav>	
			
	
	</div>

	<div class = "container">
	<div class = "container1">
  <h1><i>Best In Test</i></h1>
  <h1><i>Restaurant</mark></h1>
<h3>Show Menu</h3>

</div>
</div>

</body>
<script type="text/javascript" src="js/myscript.js">


</script>
</html>`