*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
#overlayer-conatiner
{
display: block;
height: 100vh;	
}

.background-video
{
	position: absolute;
	width:100%;
	right:0;
	bottom: 0;
	z-index: -1;
	
}

#head-container
{
	display: block;
	
}

nav
{
	width: 100%;
	position: absolute;
	top: 20px;
	left: 0;
	padding: 20px 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	


}
nav a img{
	
	border-radius: 60px;


}
nav .webpage-logo
{
	width: 80px;
		background-color: black;
}
nav ul li {
	list-style: none;
	display:inline-block ;
	margin-left: 30px;

	
}

nav ul li a{
	text-decoration: none;
 color:black;
font-weight: bold;
	font-size: 30px;

	

}

.manu-item:hover
{
	background-color:white;
	border-radius:50px;
	border-width:70px;
	font-size: 35px;
	font-weight: bold;
}

video
{	
	opacity: 0.7;
	color: powderblue;
	position: fixed;

}


/*        Account.html CSS         */

.account-conatiner
{
	
	display: block;
	background-color: #ffccff;
	height:300px ;
	width:650px;
	margin: 350px;
	justify-content: center;
	text-align: center;
	border-radius:20px;
	 border-top-color: black;
	 border-top: dotted;
	 border-left-color: black;
	 border-left:dotted;
}
.account-conatiner button {
	margin-top: 150px;
	font-size: 20px;
	border-radius: 5px;
	background-color: white;
	width: 150px;
	height: 40px;
	margin-left: 60px;
	border-color: black;
	
	
}

#login_container
{
	height: 250px;
	width: 400px;
	margin-left: 120px;
	background-color: #ffccff;
	 box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}

.input-item
{
	margin-top:20px;
	margin-left: 20px;
	font-size: 20px
}

#submitbutton
{
	font-size: 15px;
}

#sign-up-container
{
		height: 250px;
	
	
	background-color: #ffccff;
	 box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}

.body-conatiner-food
{
	

	width: 100%;
	float: right;
	margin-top: 130px;
	height: 100vh  auto;
	display: block;
	height: 83vh;
}

#manu-title-name
{
		list-style: none;
	display:inline-block ;
}
#manu-title-name
{
	display: inline-block;
	text-align: center;
	margin-top:3%;
	margin-left: 15%;
	border-color: red;
	border-bottom-color:red;

}
.manu-title-li
{list-style: none;
	display:inline-block ;
	margin-left: 25px;
	align-items: center;
	text-align: center;
}



      
      
      
        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 45px;
        }

        .ti {
            padding-top: 30px;
            text-align: center;
        }

        .articles {
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
           
        }

        .cart {
            width: 300px;
           margin-top:150px;
            margin-left: 40%;
            
        }

        .articles > div {
            width: 200px;
            margin: 20px;
        }

        img {
            width: 100%;
            border-radius: 20px;
        }

        .prod {
            display: flex;
            flex-direction: row;
            text-align: center;
            margin-left: 120px
        }

        .tit {
            
           margin-left: -100%;
           margin-right: 30px;
        }

        #price1, #price2, #price3, #price4 {
            margin-right: 5px;
        }

        .inputs, input, select {
            text-align: center;
            border-radius: 10px;
            margin-right: 10px;
            margin-left: 10px;
        }

        input {
            width: 50px;
        }

        .addTo {
            position: relative;
            left: 0px;
            width: 100px;
            height: 25px;
            border-radius: 15px;
            margin-top: 20px;
            background-image: linear-gradient(to right, #ff512f, #dd2476);
            color: beige;
            border-width: 0px;
        }
        
        .addTo:hover {
            background-image: none;
            background-color: red;
            box-shadow: 0 0 20px red, 0 0 60px red, 0 0 60px red;
        }

        li {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #message1, #message2, #message3, #message4 {
            color: greenyellow;
            text-align: center;
        }

        button {
            position: absolute;
            right: 20px;
            border-radius: 5px;
            color: aliceblue;
            background-color: #6b1cd2;
            border-width: 0px; 
            height:15px;
            width:70px;  
        }

        button:hover {
            background-color: rgb(255, 0, 0);
        }
        
        .showfood{
  

        
        }

#order
{
	border-color: red;
	border-style: solid;
	text-decoration: none;
	width: 60px;
	height: 60px;
	font-size: 30px;
	color: orange;
}

.tableclass
{
	width:60%;
	height: 30%;

	margin-left: 25%;
}